@import url('https://fonts.cdnfonts.com/css/mochain?styles=163150');
.custom-nav {
    background-color: #333; /* Dark background color */
  }
  
  .custom-nav .nav-link {
    color: white; /* Text color */
  }
  
  .custom-nav .nav-link:hover {
    background-color: #555; 
    color: white; 
  }
  .navbar-brand {
    font-size: 2rem; 
    font-weight: bold; 
    color: #a24ee6;
    text-decoration: none; 
    margin-left: 10px;
    font-family: 'Mochain', sans-serif;  
    
  }