/* Contact.css */
@import url('https://fonts.cdnfonts.com/css/mochain?styles=163150');
.contact-page {
    background: url("../pages/back.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .contact-page h1{
  font-size: 5rem;
  font-family: 'Mochain', sans-serif;  

  }
  
  .contact-info {
    margin-bottom: 20px;
    
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #007bff; /* Change to the color you prefer on hover */
  }
  
  form {
    margin: 0 auto; /* Center the form horizontally */
    max-width: 600px; /* Limit the width of the form */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 0 auto; /* Center the input fields horizontally */
  }
  
  button {
    background-color: #6b47e0; /* Purple color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #5329b6; /* Darker purple on hover */
    
  }
  .contact-button {
    display: inline-block;
    padding: 10px 70px;
    background-color: #6b47e0; /* Purple color */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Rounded edges */
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .contact-button:hover {
    background-color: #722bb9; /* Darker purple on hover */
    transform: scale(1.05); /* Enlarge on hover */
    color: #fff;
  }