/* projectCard.css */

/* Card container styles */
.project-card {
    background-color: #f8f9fa; /* Background color */
    border: 1px solid #e2e8f0; /* Border */
    border-radius: 8px; /* Rounded corners */
    margin: 10px; /* Margin between cards */
    padding: 20px; /* Padding within cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    width: calc(55% - 20px); 
    display: inline-block;
    vertical-align: top;
    position: relative; 
  }
  
  /* Adding background image for the card */
  .project-card:before {
    content: '';
    background-image: url('../pages/back.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Placing the image behind the card content */
  }
  
  /* Title styles */
  .project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Links styles */
  .project-link {
    display: block; /* Display links as blocks for spacing */
    margin: 5px 0;
    text-decoration: none;
    color: #fbfbfb; 
    background-color: rgba(114, 48, 173, 0.636);
  }
  
  /* Add styles for "Deployed Version" and "GitHub Repository" links */
  .project-link:hover {
    background-color: purple; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; 
  }
  
  /* Image styles */
  .project-image {
    width: 100%; /* Making the image fill its container */
    height: auto; /* Maintaining aspect ratio */
    display: block;
    border: 1px solid #e2e8f0; /* Adding a border to the image */
    border-radius: 5px; 
    margin-bottom: 0%;
  }
  
  /* Center the content within the card */
  .project-content {
    text-align: center;
  }
  
  
  .projects-page {
    width: 100%; 
    margin: 0;
    background: url('../pages/back.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #00000088; 
  }
  
  /* Button styles */
  .carousel-controls {
    text-align: center;
    margin-top: 20px;
  }
  
  .carousel-controls button {
    background-color: purple; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px; 
    margin: 10px;
  }
  
  .carousel-controls button:hover {
    background-color: #5d1091; 
  }
  
